.body{
    background-image: ;
}
.iframe-container {
    background: linear-gradient(135deg, #ff00ff, #8000ff);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px 10px rgba(128, 0, 255, 0.7);
    width: max-content;
    max-width: 700px; 
    overflow: hidden;
    margin: 15px auto; 
}


.iframe-container iframe {
    position: relative;
    top: 5px;
    border-radius: 15px;
    width: 500px;
    height: 380px;
    border: none;
}

@media (max-width: 600px) {
    .iframe-container iframe {
        width: 100%;
        height: auto;
    }
}
